{
  "printWidth": 220,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.erb",
      "options": {
        "parser": "erb"
      }
    },
    {
      "files": "*.rb",
      "options": {
        "parser": "ruby"
      }
    }
  ]
}
