<div class="h-[70vh] w-full flex justify-center items-center">
  <div class="space-y-2 flex flex-col justify-center items-center">
    <%= image_tag 'no_product.avif', alt: 'No Item Found', class: 'w-[150px]' %>
    <p class="bruno"><%= text %></p>
  </div>
</div>
