<main class="relative w-full h-[30vh] flex items-center justify-center bg-gray-800">
  <div class="absolute inset-0">
    <%= image_tag 'sub_ecommerce_bg.jpeg', alt: 'E-commerce Banner', class: 'w-full h-full object-cover' %>
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <div class="relative z-10 text-center text-white px-4">
    <h1 class="text-3xl sm:text-4xl md:text-[40px] font-extrabold mb-4">
      <%= text %>
    </h1>
  </div>
</main>
