<% content_for :title, "#{@category.name} | Dinner Dash" %>

<%= render 'shared/header', text: "#{@category.name} Items" %>

<div class="w-full min-h-[80vh] max-h-auto flex flex-wrap justify-center mt-10">
  <% if @items.any? %>
    <div class="w-[90%] xl:w-[65%] flex flex-wrap gap-2">
      <%= render partial: 'shared/item', collection: @items %>
    </div>

    <div class="w-full flex justify-center mt-8 text-sm">
      <%= paginate @items %>
    </div>
  <% else %>
    <%= render 'shared/fallback', text: "No Item Found" %>
  <% end %>
</div>
